body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    /* display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 50px; */
}
